<div class="battery__card" style="margin:1%">
      <div class="battery__data">
            <p class="battery__text">CPU</p>
                  <h1 id="cpu-perc" class="battery__percentage">0</h1>
            <p id="cpu-state" class="battery__status">Charging... <i class="ri-flashlight-line animated-green"></i></p>
      </div>
      <div class="battery__pill">
            <div class="battery__level">
                  <div id="cpu-show" class="battery__liquid gradient-color-yellow" style="height: 66%;"></div>
            </div>
      </div>
</div>
