@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--c-gray-900: #000000;
	--c-gray-800: #1f1f1f;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;

	--c-green-500: #45ffbc;
	--c-olive-500: #e3ffa8;

	--c-white: var(--c-gray-100);

	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}

html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin:0;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-gray-900);
	color: var(--c-text-primary);
	display: flex;
	padding-top: 3vw;
	padding-bottom: 3vw;
	justify-content: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

button,
select,
textarea {
	font: inherit;
}

a {
	color: inherit;
}


.app {
	min-height: 80vh;  /* No change needed for viewport height */
	width: 95%;       /* Full width of the parent element */
	     /* Inherit max-width from parent (optional) */
	background-color: var(--c-gray-800);
	
	/* Convert padding values to percentages */
	padding: 2% 4% 8%;
	
	display: flex;
	flex-direction: column;
	
}

.app-header {
    display: flex;
    /* grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax( max-content, 400px ); */
    column-gap: 4rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.app-header-actions {
	display: flex;
	align-items: center;
	@media (max-width: 0px) {
		display: none;
	}
}

.app-header-actions-buttons {
	display: flex;
	border-left: 1px solid var(--c-gray-600);
	margin-left: 2rem;
	padding-left: 2rem;

	& > * + * {
		margin-left: 1rem;
	}
}

.app-header-mobile {
	display: none;
	@media (max-width: 1200px) {
		display: flex;
	}
}

.app-body {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			min-content,
			400px
		);

	column-gap: 4rem;
	padding-top: 2.5rem;

	@media (max-width: 1200px) {
		grid-template-columns: 1fr;
		& > * {
			margin-bottom: 3.5rem;
		}
	}
}

.app-body-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: none;
	}
}


.footer {
	margin-top: auto;
	h1 {
		font-size: 1.5rem;
		line-height: 1.125;
		display: flex;
		align-items: flex-start;
		small {
			font-size: 0.5em;
			margin-left: 0.25em;
		}
	}

	div {
		border-top: 1px solid var(--c-gray-600);
		margin-top: 1.5rem;
		padding-top: 1rem;
		font-size: 0.75rem;
		color: var(--c-text-tertiary);
	}
}

.logo {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-bottom: 1px solid var(--c-gray-600);
	@media (max-width: 1200px) {
		border-bottom: 0;
	}
}
@media screen and (max-width: 1200px) {
	.logo{
		display: none;
	}
	.mobile_vanish{
		display: none;
	}
  }

  @media screen and (max-width: 450px) {
	.tabs{
		width: 40%;
		scale: 0.8;
	}
	.app-header-navigation{
		width: 100%;
	}
	.fold{
		width: 100%;
	}
  }
.logo-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
}

.logo-title {
	display: flex;
	flex-direction: column;
	line-height: 1.25;
	margin-left: 0.75rem;
	span:first-child {
		color: var(--c-text-primary);
	}
	span:last-child {
		color: var(--c-text-tertiary);
	}
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--c-text-tertiary);
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: 0.25s ease;

		* {
			transition: 0.25s ease;
		}

		i {
			margin-right: 0.75rem;
			font-size: 1.25em;
			flex-shrink: 0;
		}

		& + a {
			margin-top: 1.25rem;
		}

		&:hover,
		&:focus {
			transform: translateX(4px);
			color: var(--c-text-primary);
		}
	}
}

.active {
color: var(--c-text-primary);
			border-color: var(--c-text-primary);
}
.tabs {
	display: flex;
	justify-content: space-between;
	color: var(--c-text-tertiary);
	border-bottom: 1px solid var(--c-gray-600);
	a {
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-decoration: none;
		border-top: 2px solid transparent;
		display: inline-flex;
		transition: 0.25s ease;
		&.active,
		&:hover,
		&:focus {
			color: var(--c-text-primary);
			border-color: var(--c-text-primary);
		}
	}
}

.user-profile {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: var(--c-text-tertiary);
	transition: 0.25s ease;

	&:hover,
	&:focus {
		color: var(--c-text-primary);
		span:last-child {
			box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
		}
	}

	span:first-child {
		display: flex;
		font-size: 1.125rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--c-gray-600);
		font-weight: 300;
	}

	span:last-child {
		transition: 0.25s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 1.5rem;
		flex-shrink: 0;
	}
}

.icon-button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	border: 1px solid var(--c-gray-500);
	color: var(--c-text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s ease;
	flex-shrink: 0;
	&.large {
		width: 42px;
		height: 42px;
		font-size: 1.25em;
	}

	i {
		transition: 0.25s ease;
	}

	&:hover,
	&:focus {
		background-color: var(--c-gray-600);
		box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
	}
}

.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
	}

	&:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

	&:nth-child(2) {
		background-color: var(--c-green-500);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
		}
	}
	&:nth-child(3) {
		background-color: var(--c-gray-300);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
		}
	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;

		.icon-button {
			color: inherit;
			border-color: inherit;
			&:hover,
			&:focus {
				background-color: transparent;
				i {
					transform: none;
				}
			}
		}

		&:focus {
			box-shadow: none;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.tile-header {
	display: flex;
	align-items: center;
	i {
		font-size: 2.5em;
	}

	h3 {
		display: flex;
		flex-direction: column;
		line-height: 1.375;
		margin-left: 0.5rem;
		span:first-child {
			font-weight: 600;
		}

		span:last-child {
			font-size: 0.825em;
			font-weight: 200;
		}
	}
}

.service-section {
	& > h2 {
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
	}
}

.service-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	& > * + * {
		margin-left: 1.25rem;
	}

	@media (max-width: 1000px) {
		display: none;
	}
}

.service-section-footer {
	color: var(--c-text-tertiary);
	margin-top: 1rem;
}

.search-field {
	display: flex;
	flex-grow: 1;
	position: relative;
	input {
		width: 100%;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 0;
		border-bottom: 1px solid var(--c-gray-600);
		background-color: transparent;
		padding-left: 1.5rem;
	}

	i {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.dropdown-field {
	display: flex;
	flex-grow: 1;
	position: relative;
	select {
		width: 100%;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 0;
		border-bottom: 1px solid var(--c-gray-600);
		background-color: transparent;
		padding-right: 1.5rem;
		appearance: none;
		color: var(--c-text-tertiary);
		width: 100%;
	}

	i {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.flat-button {
	border-radius: 6px;
	background-color: var(--c-gray-700);
	padding: 0.5em 1.5em;
	border: 0;
	color: var(--c-text-secondary);
	transition: 0.25s ease;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: var(--c-gray-600);
	}
}

.mobile-only {
	display: none;
	@media (max-width: 1000px) {
		display: inline-flex;
	}
}

.transfer-section {
	margin-top: 2.5rem;
}

.transfer-section-header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--c-gray-600);
	h2 {
		font-size: 1.5rem;
	}
}

.payments {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.payment {
	display: flex;
	align-items: center;
	& + * {
		margin-top: 1rem;
	}
}

.card {
	width: 125px;
	padding: 0.375rem;
	aspect-ratio: 3 / 2;
	flex-shrink: 0;
	border-radius: 6px;
	color: var(--c-gray-800);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.75rem;
	font-weight: 600;
	&.green {
		background-color: var(--c-green-500);
	}

	&.olive {
		background-color: var(--c-olive-500);
	}

	&.gray {
		background-color: var(--c-gray-300);
	}

	span:last-child {
		align-self: flex-end;
	}
}

.payment-details {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-left: 1.5rem;
	h3 {
		font-size: 1rem;
		color: var(--c-text-tertiary);
	}

	div {
		margin-top: 0.75rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		border-top: 1px solid var(--c-gray-600);
		border-bottom: 1px solid var(--c-gray-600);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;

		span {
			font-size: 1.5rem;
		}
	}
}

.filter-options {
	margin-left: 1.25rem;
	padding-left: 1.25rem;
	border-left: 1px solid var(--c-gray-600);
	display: flex;
	align-items: center;
	flex: 1 1 auto;

	p {
		& + * {
			margin-left: auto;
			margin-right: 0.75rem;
		}
		color: var(--c-text-tertiary);
		font-size: 0.875rem;
		@media (max-width: 1000px) {
			display: none;
		}
	}
}

.transfers {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.transfer {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 0.875rem;
	@media (max-width: 1000px) {
		align-items: flex-start;
		flex-direction: column;
	}
	& + * {
		margin-top: 2rem;
	}
}

.transfer-logo {
	background-color: var(--c-gray-200);
	border-radius: 4px;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 45%;
	}
}

.transfer-details {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	@media (max-width: 1000px) {
		flex-wrap: wrap;
		margin-left: 0;
		margin-top: 1rem;
	}
	div {
		width: calc(100% / 3 - 1rem);
		@media (max-width: 1000px) {
			width: 100%;
		}
		& + div {
			margin-left: 1rem;
			@media (max-width: 1000px) {
				margin-left: 0;
				margin-top: 1rem;
			}
		}
	}

	dd {
		color: var(--c-text-tertiary);
		margin-top: 2px;
	}
}

.transfer-number {
	margin-left: 2rem;
	font-size: 1.125rem;
	flex-shrink: 0;
	width: 15%;
	display: flex;
	justify-content: flex-end;
	@media (max-width: 1000px) {
		margin-left: 0;
		margin-top: 1.25rem;
		width: 100%;
		justify-content: flex-start;
	}
}

.payment-section {
	& > h2 {
		font-size: 1.5rem;
	}
}

.payment-section-header {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	p {
		color: var(--c-text-tertiary);
		font-size: 0.875rem;
	}

	div {
		padding-left: 1rem;
		margin-left: auto;
		display: flex;
		align-items: center;
		& > * + * {
			margin-left: 0.5rem;
		}
	}
}

.card-button {
	display: flex;
	width: 50px;
	height: 34px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: transparent;
	transition: 0.25s ease;
	border-radius: 4px;
	border: 2px solid var(--c-gray-600);
	color: var(--c-text-primary);
	cursor: pointer;
	&.mastercard svg {
		max-height: 15px;
	}

	&:focus,
	&:hover,
	&.active {
		color: var(--c-gray-800);
		background-color: var(--c-white);
		border-color: var(--c-white);
	}
}

.faq {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	p {
		color: var(--c-text-tertiary);
		font-size: 0.875rem;
	}

	div {
		margin-top: 0.75rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		border-top: 1px solid var(--c-gray-600);
		border-bottom: 1px solid var(--c-gray-600);
		font-size: 0.875rem;
		display: flex;
		align-items: center;

		label {
			padding-right: 1rem;
			margin-right: 1rem;
			border-right: 1px solid var(--c-gray-600);
		}

		input {
			border: 0;
			background-color: transparent;
			padding: 0.25em 0;
			width: 100%;
		}
	}
}

.payment-section-footer {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.save-button {
	border: 1px solid currentColor;
	color: var(--c-text-tertiary);
	border-radius: 6px;
	padding: 0.75em 2.5em;
	background-color: transparent;
	transition: 0.25s ease;
	cursor: pointer;
	&:focus,
	&:hover {
		color: var(--c-white);
	}
}

.settings-button {
	display: flex;
	align-items: center;
	color: var(--c-text-tertiary);
	background-color: transparent;
	border: 0;
	padding: 0;
	margin-left: 1.5rem;
	cursor: pointer;
	transition: 0.25s ease;
	i {
		margin-right: 0.5rem;
	}
	&:focus,
	&:hover {
		color: var(--c-white);
	}
}


select,
a,
textarea,
button {
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
	}
}

        /*=============== GOOGLE FONTS ===============*/
		@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

		/*=============== VARIABLES CSS ===============*/
		:root {
		  /*========== Colors ==========*/
		  /*Color mode HSL(hue, saturation, lightness)*/
		  --gradient-color-red: linear-gradient(90deg, 
								  hsl(7, 89%, 46%) 15%,
								  hsl(11, 93%, 68%) 100%);
		  --gradient-color-orange: linear-gradient(90deg, 
								   hsl(22, 89%, 46%) 15%,
								   hsl(54, 90%, 45%) 100%);
		  --gradient-color-yellow: linear-gradient(90deg, 
								   hsl(54, 89%, 46%) 15%,
								   hsl(92, 90%, 45%) 100%);
		  --gradient-color-green: linear-gradient(90deg, 
								  hsl(92, 89%, 46%) 15%,
								  hsl(92, 90%, 68%) 100%);
		  --text-color: #fff;
		  --body-color: hsl(0, 0%, 11%);
		  --container-color: hsl(0, 0%, 9%);
		
		  /*========== Font and typography ==========*/
		  /*.5rem = 8px | 1rem = 16px ...*/
		  --body-font: 'Rubik', sans-serif;
		
		  --biggest-font-size: 2.5rem;
		  --normal-font-size: .938rem;
		  --smaller-font-size: .75rem;
		}
		
		/* Responsive typography */
		@media screen and (min-width: 968px) {
		  :root {
			--biggest-font-size: 2.75rem;
			--normal-font-size: 1rem;
			--smaller-font-size: .813rem;
		  }
		}
		
		/*=============== BASE ===============*/
		* {
		  box-sizing: border-box;
		  padding: 0;
		  margin: 0;
		}
		
		/*=============== BATTERY ===============*/
		.battery {
		  height: 100vh;
		  display: grid;
		  place-items: center;
		  margin: 0 1.5rem;
		}
		
		.battery__card {
		  position: relative;
		  width: 100%;
		  height: 240px;
		  background-color: var(--container-color);
		  padding: 1.5rem 2rem;
		  border-radius: 1.5rem;
		  display: grid;
		  grid-template-columns: repeat(2, 1fr);
		  align-items: center;
		}
		
		.battery__text {
		  margin-bottom: .5rem;
		}
		
		.battery__percentage {
		  font-size: var(--biggest-font-size);
		}
		
		.battery__status {
		  position: absolute;
		  bottom: 1.5rem;
		  display: flex;
		  align-items: center;
		  column-gap: .5rem;
		  font-size: var(--smaller-font-size);
		}
		
		.battery__status i {
		  font-size: 1.25rem;
		}
		
		.battery__pill {
		  position: relative;
		  width: 75px;
		  height: 180px;
		  background-color: var(--container-color);
		  box-shadow: inset 20px 0 48px hsl(0, 0%, 16%), 
					  inset -4px 12px 48px hsl(0, 0%, 56%);
		  border-radius: 3rem;
		  justify-self: flex-end;
		}
		
		.battery__level {
		  position: absolute;
		  inset: 2px;
		  border-radius: 3rem;
		  overflow: hidden;
		}
		
		.battery__liquid {
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 36px;
		  background: var(--gradient-color-red);
		  box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, .1), 
					  inset 12px 0 12px hsla(0, 0%, 0%, .15);
		  transition: .3s;
		}
		
		.battery__liquid::after {
		  content: '';
		  position: absolute;
		  height: 8px;
		  background: var(--gradient-color-red);
		  box-shadow: inset 0px -3px 6px hsla(0, 0%, 0%, .2);
		  left: 0;
		  right: 0;
		  margin: 0 auto;
		  top: -4px;
		  border-radius: 50%;
		}
		
		/* Full battery icon color */
		.green-color {
		  background: var(--gradient-color-green);
		}
		
		/* Battery charging animation */
		.animated-green {
		  background: var(--gradient-color-green);
		  animation: animated-charging-battery 1.2s infinite alternate;
		}
		
		/* Low battery animation */
		.animated-red {
		  background: var(--gradient-color-red);
		  animation: animated-low-battery 1.2s infinite alternate;
		}
		
		.animated-green,
		.animated-red,
		.green-color {
		  -webkit-background-clip: text;
		  color: transparent;
		}
		
		@keyframes animated-charging-battery {
		  0% {
			text-shadow: none;
		  }
		  100% {
			text-shadow: 0 0 6px hsl(92, 90%, 68%);
		  }
		}
		
		@keyframes animated-low-battery {
		  0% {
			text-shadow: none;
		  }
		  100% {
			text-shadow: 0 0 8px hsl(7, 89%, 46%);
		  }
		}
		
		/* Liquid battery with gradient color */
		.gradient-color-red,
		.gradient-color-red::after {
		  background: var(--gradient-color-red);
		}
		
		.gradient-color-orange,
		.gradient-color-orange::after {
		  background: var(--gradient-color-orange);
		}
		
		.gradient-color-yellow,
		.gradient-color-yellow::after {
		  background: var(--gradient-color-yellow);
		}
		
		.gradient-color-green,
		.gradient-color-green::after {
		  background: var(--gradient-color-green);
		}
		
		/*=============== BREAKPOINTS ===============*/
		/* For small devices */
		@media screen and (max-width: 320px) {
		  .battery__card {
			zoom: .8;
		  }
		  .card_progress {
			zoom: .8;
		  }
		}
		
		/* For medium devices */
		@media screen and (min-width: 430px) {
		  .battery__card {
			width: 312px;
		  }
		  .card_progress {
			zoom: .8;
			width: 650px;
		  }
		}
		
		/* For large devices */
		@media screen and (min-width: 1024px) {
		  .battery__card {
			zoom: 0.5;
		  }
		  .card_progress {
			zoom: 0.5;
		  }
		}


pre.bash {
  background-color: black;
  color: white;
  font-size: medium ; 
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  width: 100%;
  display: inline-block;
}

.scrollableDiv {
	overflow: auto;
	max-height: 55vh;
	height: 55vh; 
	overflow-y: auto;
}
.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.cmdInput {
  background-color: black;
  color: white;
  font-size: medium ; 
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  width: 100%;
  display: inline-block;
}

.input {
  display: flex;
  background: #000;
  align-items: center;
}

#cmd-inp {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  outline: none;
}