<div class="progress">
	<div id="bar" class="bar" style="width:0%">
		<p id="perc" class="percent">0%</p>
	</div>
</div>
<style>
.progress {
	margin:20px auto;
	padding:0;
	width: 100%;
    height: 40%;
	overflow:hidden;
	border-radius:6px;
	box-shadow: inset 20px 0 48px hsl(0, 0%, 16%), inset -4px 12px 48px hsl(0, 0%, 56%);
	border-radius: 3rem;
}

.bar {
	position:relative;
	float:left;
	min-width:1%;
	height:100%;
}

.percent {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin:0;
	font-family:tahoma,arial,helvetica;
	font-size:12px;
	color:white;
}</style>
